/* CSS for the website
 */
/* accessibility  */
body {
    font-family:'Times New Roman', Times, serif;
    margin: 0;
    padding: 0;
    background-color: #fefaf1;
    color: #333;
    line-height: 1.6;
    font-size: 1rem;
    margin: auto;
    padding: 1rem;
    max-width: 1400px;
  }
  
  header {
    background-color: #4b3e2e;
    color: white;
    padding: 1rem;
    text-align: center;
    position: relative;
    z-index: 1;

  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    
  }
  
  nav a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  nav a:hover {
    background-color: #6b5b4c;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  
  img {
    width: 100%;
    max-width: 600px;
    height: auto;
    margin-top: 1rem;
    border-radius: 10px;
    float: right;
  }
  
  
  .img1:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
  }
  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  input, textarea, button {
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
  }
  
  footer {
    background-color: #4b3e2e;
    color: white;
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
  }
  